body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background: #1e2326;
}

body::before {
  --size: 60px;
  --line-w: 1px;
  --line: hsl(216 3% 75% / 0.15);
  --tiles: transparent;
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg,
      var(--line) var(--line-w),
      var(--tiles) 1px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) var(--line-w), var(--tiles) 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: radial-gradient(circle, white 10%, transparent 50%);
  transform-style: flat;
  pointer-events: none;
}

.tiles {
  height: 50vh;
  aspect-ratio: 1/1;
  position: relative;
  background: linear-gradient(to right,
      #906CF2,
      #DE2369,
      #906CF2);
  background-size: 200%;
  animation: b-pan 5s linear infinite;
  border-radius: 2rem;
}

.tiles::before {
  content: "";
  position: absolute;
  background: #3B3B40;
  border-radius: inherit;
  inset: 0.25rem;
}

@keyframes b-pan {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: -200% center;
  }
}
